# Architects e Admins sao responsaveis por todo o Backend.
* @Alibe-AGES/architects @Alibe-AGES/admins

# Alteracoes na configuracao do GitHub tambem exigem esses responsaveis.
/.github/ @Alibe-AGES/architects @Alibe-AGES/admins
